node_modules/
target/
frontend/src/generated/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Spring Tool Suite ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
