node_modules/
target/
frontend/generated/
build/

### IntelliJ IDEA ###
.idea/*
!/.idea/runConfigurations
*.iws
*.iml
*.ipr

### Spring Tool Suite ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
